@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* TODO Add site wide styles */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: black;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: white;
}

.main-container {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.song-selection {
  width: 500px;
  height: 340px;
  position: relative;
  background-color: rgba(57, 57, 57, 0.5);
  border-radius: 8px;
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.5s;
}

.song-selection.open {
  height: 555px;
  transition-property: height;
  transition-duration: 0.5s;
}

#song-input {
  display: none;
}

.select-a-song {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
}

.instructions-header {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translate(-50%, -8%);
}

.controls {
  width: 400px;
  white-space: pre;
  list-style: none;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 50%;
  top: 63%;
  transform: translate(-50%, -63%);
}

.controls li {
  margin-bottom: 15px;
}

.instructions-subheader {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 18%;
  transform: translate(-50%, -18%);
}

.song-upload {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.song-upload:hover {
  color: white;
}

.song-info {
  position: absolute;

  max-width: 400px;
  left: 20%;
  top: 125px;
  transform: translateX(-20%);
}

.song-title {
  font-size: 40px;
  max-width: 420px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-artist {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.main-button {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  position: absolute;
  letter-spacing: 1px;
}

.main-button:hover {
  color: white;
}

.sliders-button {
  position: absolute;
  left: 50%;
  top: 295px;
  font-size: 30px;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.sliders-button:hover {
  color: white;
}

.start-button {
  left: 17%;
  top: 235px;
}

.demo-button {
  top: 235px;
  right: 13.5%;
}

.sliders {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 338px;
}

.instructions-container {
  font-family: "Montserrat", sans-serif;
  width: 500px;
  height: 300px;
  position: relative;
  margin-top: 50px;
  background-color: rgba(57, 57, 57, 0.5);
  border-radius: 8px;
}

.crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  color: gray;
  transform: translate3d(-50%, -50%, 0);
  cursor: pointer;
}

#pause-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 5;
}

.pause-navbar {
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 5;
  background-color: rgba(57, 57, 57, 0.6);
  padding: 0px 60px;
}

.home-button {
  font-size: 65px;
}

.info-button {
  font-size: 65px;
  cursor: pointer;
}

.github-button {
  font-size: 65px;
  cursor: pointer;
}

.linkedin-button {
  font-size: 65px;
  cursor: pointer;
}

.pause-navbar-right svg:hover {
  color: white;
}

.pause-navbar-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pause-navbar-left:hover {
  color: white;
}

.pause-navbar-right {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

.resume-instruct {
  margin-left: -70px;
  font-family: "Assistant", sans-serif;
  padding-bottom: 8px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.circle-crosshair {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}

.app-name {
  font-family: "Assistant", sans-serif;
  font-size: 55px;
  letter-spacing: 4px;
  margin-left: 20px;
}

.mush-label {
  font-size: 40px;
  margin-right: 18px;
}
